@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%)
    }
}

.animate-marquee {
    animation: marquee 12s linear infinite;
}